.input {
  color: var(--good-blue);
  background: var(--good-green);
  height: 2rem;
  width: 8rem;

  border-radius: 0.2rem;
  padding: 0.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 0.5rem;
  /* background: white; */
}

.input:invalid {
  /* background: red; */
  border: 2px solid red;
}
