.input {
  background: white;
  color: black;
  border: unset;
  border-radius: 0.25rem;
  height: 2rem;
  padding: 0.5rem;
}

.label {
  padding-bottom: 0.6rem;
}

.stack {
  display: flex;
  flex-direction: column;
}
.input[type='number']::-webkit-outer-spin-button,
.input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input[type='number'] {
  -moz-appearance: textfield;
}
