.button {
  background: var(--good-green);
  border: unset;
  color: black;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 100%;
  cursor: pointer;
}
.button:disabled {
  background: gray;
  color: darkgray;
}
