.tabs {
  display: flex;
  gap: 2rem;
  margin: 1rem;
  cursor: pointer;
}
.container {
  width: 100%;
}
.tabActive {
  border-bottom: 1px solid var(--good-green);
  padding-bottom: 0.5rem;

  color: var(--good-green);
}
.pageContainer {
  background: #212121;
  height: 100%;
  min-height: 100vh;
  padding: 2rem;
  border-radius: 0.4rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
